<div class="cabinet">
   <aside class="cabinet__sidebar">
      <ul class="cabinet__nav">
         <li>
            <a routerLink="/admin/cabinet/header" routerLinkActive="active">Bosh qism</a>
         </li>
         <li>
            <a routerLink="/admin/cabinet/faq" routerLinkActive="active">FAQ</a>
         </li>
         <li>
            <a routerLink="/admin/cabinet/intro-lessons" routerLinkActive="active">Ochiq darslar</a>
         </li>
         <li>
            <a routerLink="/admin/cabinet/employed-students" routerLinkActive="active">Ishga kirgan o'quvchilar</a>
         </li>
         <li>
            <a routerLink="/admin/cabinet/settings" routerLinkActive="active">Sozlamalar</a>
         </li>
      </ul>
   </aside>
   <main class="cabinet__main">
      <router-outlet></router-outlet>
   </main>
</div>
