<header class="header">
   <div class="flex-container">
      <a class="header__logo" routerLink="/">
         <img src="/assets/logos/header-logo.svg" alt="Site Logo">
      </a>

      <div class="header__nav">
         <div class="dropdown">
            <div class="dropdown__header" (click)="toggleDropdown('courses')">
               <div class="dropdown__title">Kurslar</div>
               <img class="dropdown__arrow" src="/assets/icons/arrow-down.svg" alt="arrow down icon">
            </div>
            <div class="dropdown__content" *ngIf="showCoursesDropdown">
               <div class="dropdown__col">
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/python.svg" alt="Course Python Icon">
                     </div>
                     <div class="dropdown__text">Python</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/ai.svg" alt="Course AI Icon">
                     </div>
                     <div class="dropdown__text">Sun’iy intellekt</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/nodejs.svg" alt="Course NodeJS Icon">
                     </div>
                     <div class="dropdown__text">NodeJS</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/frontend.svg" alt="Course Front End Icon">
                     </div>
                     <div class="dropdown__text">Frontend</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/react.svg" alt="Course React Icon">
                     </div>
                     <div class="dropdown__text">React</div>
                  </div>
               </div>
               <div class="dropdown__col">
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/android.svg" alt="Course Android Icon">
                     </div>
                     <div class="dropdown__text">Android</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/frontend.svg" alt="Course Front End Icon">
                     </div>
                     <div class="dropdown__text">Frontend videolar</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/courses-dropdown/ai.svg" alt="Course AI Icon">
                     </div>
                     <div class="dropdown__text">Sun’iy intellekt videolar</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="dropdown">
            <div class="dropdown__header" (click)="toggleDropdown('about')">
               <div class="dropdown__title">Biz haqimizda</div>
               <img class="dropdown__arrow" src="/assets/icons/arrow-down.svg" alt="arrow down icon">
            </div>
            <div class="dropdown__content" *ngIf="showAboutDropdown">
               <div class="dropdown__col">
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/teachers.svg" alt="Teachers Icon">
                     </div>
                     <div class="dropdown__text">O'qituvchilar</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/students-projects.svg" alt="Students Projects Icon">
                     </div>
                     <div class="dropdown__text">O'quvchilar loyihalari</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/success-students.svg" alt="Success students Icon">
                     </div>
                     <div class="dropdown__text">Ishga kirgan o'quvchilar</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/intro-lessons.svg" alt="Intro Lessons Icon">
                     </div>
                     <div class="dropdown__text">Ochiq darslar</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/help-to-work.svg" alt="Help To Work Icon">
                     </div>
                     <div class="dropdown__text">Ishga yordam</div>
                  </div>
               </div>
               <div class="dropdown__col">
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/what-is-fulfil.svg" alt="Question Icon">
                     </div>
                     <div class="dropdown__text">Fulfil nima?</div>
                  </div>
                  <div class="dropdown__item">
                     <div class="dropdown__icon">
                        <img src="/assets/images/about-dropdown/contact.svg" alt="Contact Icon">
                     </div>
                     <div class="dropdown__text">Biz bilan aloqa</div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <a class="header__phone" href="tel: +998883300666">
         <img src="/assets/icons/phone.svg" alt="Phone icon">
         <span>+998 88 330 06 66</span>
      </a>
   </div>
</header>
