<section class="section">
   <div class="container">
      <div class="section__header section__header--with-text">
         <div>
            <div class="section__subtitle">Yordam</div>
            <h2 class="section__title"><span class="highlight decorated">Ishga</span> yordam</h2>
         </div>
         <div>
            Kurs davomida ishga kerak bo’ladigan turli bilimlar va
            ko’nikmalarni bizning kurslarimizda olishingiz mumkin
         </div>
      </div>
   </div>
</section>

<section class="section course-advantages">
   <div class="container">
      <div class="course-advantages__left">
         <picture>
            <source media="(min-width: 992px)" srcset="/assets/images/help-to-work/advantages/advantages@desktop.png">
            <source srcset="/assets/images/help-to-work/advantages/advantages@mobile.png">
            <img src="/assets/images/help-to-work/advantages/advantages@mobile.png" alt="">
         </picture>
      </div>
      <div class="course-advantages__right">
         <ul class="details">
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Kurs darslarida turli kompaniyalarda ishlayotgan xalqaro dasturchi
                  ustoz tajribalarini bo’lishib boradi</p>
            </li>
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Siz darslarga qatnashishingiz vaqtida turli sinov loyihalarini
                  bajarib ko’rib qo’lingizni pishitib borasiz</p>
            </li>
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Sinov loyihalarida kichik jamoalariga bo’linib ishlash imkoni bu
                  esa ishda jamoaviy ishlash ko’nikmasini shakllantiriladi</p>
            </li>
         </ul>
      </div>
   </div>
</section>

<section class="section community">
   <div class="container">
      <div class="section__header center">
         <div class="section__subtitle">Fulfil - TEAM</div>
         <h2 class="section__title"><span class="highlight">Fulfil - TEAM </span>yopiq hamjamiyat nima?</h2>
      </div>
      <div class="section__body">
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/1.svg" alt="">
            </div>
            <span>200 ga yaqin Fulfil o’quvchilar jamlangan jamoa</span>
         </div>
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/2.svg" alt="">
            </div>
            <span>Yopiq chatlar va fikr almashishlar imkonini</span>
         </div>
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/3.svg" alt="">
            </div>
            <span>Ishga kirish bo’yicha tavsiyalar</span>
         </div>
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/4.svg" alt="">
            </div>
            <span>Ishga kirgan o’quvchilarimiz bilan suhbatlar</span>
         </div>
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/5.svg" alt="">
            </div>
            <span>Real turli loyihalarda amaliyot qilish imkoni</span>
         </div>
         <div class="community__item">
            <div>
               <img src="/assets/images/help-to-work/community/6.svg" alt="">
            </div>
            <span>Xalqaro tajribaga ega dasturchilardan streamlarda tavsiyalar</span>
         </div>
      </div>
   </div>
</section>

<section class="section important">
   <div class="container">
      <div class="important__left">
         <h2 class="section__title">
            <img src="/assets/images/help-to-work/important/warning.svg" alt="">
            <span>Eng muhimi</span>
         </h2>
         <ul class="details">
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Rizqim.uz loyihasi bilan hamkorlikda turli loyihalarni bajarib
                  borish imkoniyati
               </p>
            </li>
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Loyihalarini bajarish davomida yakunlangan loyihalar
                  server va xostinglarga joylanish orqali siz o’z portfoliongizni
                  semirtirib olishingiz mumkin</p>
            </li>
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Kurs davomida to’g’ri rezyume yaratish
               </p>
            </li>
            <li class="details__item">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">Kurs davomida real loyihalarida ishlash imkoni

               </p>
            </li>
         </ul>
         <p><span class="red">*</span> Portfolioni shakllantirish barchasi o’z ishingizni topishingiz
            uchun yordam beradi</p>
      </div>
      <div class="important__right">
         <picture>
            <source media="(min-width: 992px)" srcset="/assets/images/help-to-work/important/important@desktop.png">
            <source srcset="/assets/images/help-to-work/important/important@mobile.png">
            <img src="/assets/images/help-to-work/important/important@mobile.png" alt="">
         </picture>
      </div>
   </div>
</section>
