.course-advantages {
   .container {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      grid-gap: 100px;
      align-items: center;
   }

   .details__item {
      align-items: flex-start;
      margin-bottom: 30px;
   }
}

.community {
   .section__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px 60px;
   }
}

.community__item {
   display: flex;
   align-items: center;

   div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 100px;
      height: 100px;
      margin-right: 18px;
      background-color: #FFFFFF;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
      border-radius: 50%;
   }

   span {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.01em;
   }
}

.important {
   .container {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      grid-gap: 50px;
      align-items: center;
   }

   .section__title {
      display: flex;
      align-items: center;
      margin-bottom: 50px;


      img {
         margin-right: 30px;
      }
   }
}

.important__left {
   .details {
      margin-bottom: 50px;
   }

   p {
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #55645E;
   }
}
