.feedback {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 24px;
   background: #FFFFFF;
   border: 1px solid #C6E0D5;
   border-radius: 12px;
}

.feedback__header {
   display: flex;
   align-items: center;
}

.feedback__img {
   width: 80px;
   aspect-ratio: 1;
   margin-right: 18px;
   border-radius: 50%;
   overflow: hidden;
}

.feedback__title {
   h3 {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 125%;
   }

   div {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 125%;
      color: #55645E;
   }
}

.feedback__text {
   flex-grow: 1;
   padding-top: 24px;
   font-weight: 400;
   font-size: 1rem;
   line-height: 150%;
   color: #1B211E;
}

.feedback__contact {
   padding-top: 24px;

   p {
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 125%;
      color: #55645E;
   }
}

.feedback__phone {
   display: flex;
   align-items: center;

   svg {
      margin-right: 14px;
   }

   span {
      font-size: 1.125rem;
      line-height: 125%;
      color: #3CB27F;
   }
}

@media only screen and (max-width: 992px) {
   .feedback {
      padding: 18px;
   }

   .feedback__img {
      width: 45px;
      margin-right: 12px;
   }

   .feedback__title {
      h3 {
         font-size: 1.25rem;
         margin-bottom: 0;
      }

      div {
         font-size: 0.8rem;
      }
   }

   .feedback__text {
      padding-top: 18px;
   }

   .feedback__contact {
      padding-top: 10px;

      p {
         margin-bottom: 4px;
      }
   }
}
