.intro {
   padding-top: 60px;
}

.intro__top {
   display: grid;
   grid-template-columns: 1.1fr 1fr;
   grid-gap: 60px;
}

.intro__subtitle {
   margin-bottom: 20px;
   font-weight: 600;
   font-size: 1.25rem;
   letter-spacing: 0.01em;
   text-transform: uppercase;
   color: #10985D;
}

.intro__title {
   margin-bottom: 48px;
   font-weight: 700;
   font-size: 3.75rem;
   color: #193C3F;
}

.decorated {
   position: relative;
   color: #3CB27F;

   &::after, &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 98%;
      height: 2px;
      border-radius: 1px;
      background-color: #3CB27F;
      transform: rotate(1deg);
   }

   &::before {
      bottom: 0;
   }

   &::after {
      bottom: 5px;
   }
}

.intro__description {
   margin-bottom: 36px;
   font-weight: 400;
   font-size: 1.5rem;
   color: #55645E;
}

.intro__button {
   height: 52px;
   padding-left: 55px;
   padding-right: 55px;
   background-color: #09A964;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 500;
   font-size: 1rem;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   transition: 0.1s all ease-out;
   outline-offset: 1px;

   &:hover {
      background-color: #098D54;
   }

   &:focus {
      background-color: #056A3F;
      outline: 2px solid rgba(60, 178, 127, 0.5);
   }
}

.intro__statistics {
   display: grid;
   grid-template-columns: repeat(3, 150px);
   grid-gap: 30px;
   padding-top: 60px;
}

.statistics__item {
   padding: 20px;
   background-color: #FFFFFF;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
   border-radius: 8px;
   text-align: center;
}

.statistics__value {
   margin-bottom: 12px;
   font-weight: 700;
   font-size: 2.5rem;
   line-height: 3.75rem;
   color: #000000;

   span {
      color: #3CB27F;
   }
}

.statistics__title {
   line-height: 1.5rem;
   color: #000000;
}

.intro__course-details {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 20px;
   padding-top: 70px;
}

.start {
   width: 986px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 0 0;
   text-align: left;
}

.start__form {
   padding: 50px;

   h2 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 24px;
      line-height: 140%;
   }

   .button {
      width: 100%;
   }
}

.form-label {
   margin-bottom: 24px;
}

.start__text {
   margin-bottom: 24px;
   font-weight: 400;
   font-size: 12px;
   line-height: 140%;
   color: #55645E;
}

@media only screen and (max-width: 992px) {
   .intro {
      padding-top: 30px;
   }

   .intro__top {
      grid-template-columns: 1fr;
      grid-gap: 30px;
   }

   .intro__right {
      order: -1;
      text-align: center;

      img {
         width: 60%;
      }
   }

   .intro__subtitle {
      margin-bottom: 8px;
      font-size: 0.85rem;
   }

   .intro__title {
      margin-bottom: 20px;
      font-size: 2.14rem;
   }


   .intro__description {
      margin-bottom: 18px;
      font-size: 1.4rem;
   }

   .intro__button {
      height: 48px;
   }

   .intro__statistics {
      grid-template-columns: repeat(3, 105px);
      grid-gap: 12px;
      padding-top: 24px;
   }

   .statistics__item {
      padding: 16px;
   }

   .statistics__value {
      margin-bottom: 7px;
      font-size: 1.7rem;
      line-height: 2.5rem;
   }

   .statistics__title {
      font-size: 0.85rem;
   }

   .intro__course-details {
      padding-top: 0;
   }

   .start {
      grid-template-columns: 1fr;
   }

   .start__img {
      img {
         width: 100%;
      }
   }

   .start__form {
      padding: 30px;
   }
}

@media only screen and (max-width: 768px) {
   .intro__right {
      img {
         width: 100%;
      }
   }

   .intro__course-details {
      grid-template-columns: 1fr;
   }
}

@media only screen and (max-width: 578px) {
   .intro__button {
      width: 100%;
   }

   .intro__statistics {
      grid-template-columns: repeat(3, 1fr);
   }
}
