<section class="intro">
   <div class="container">
      <div class="intro__top">
         <div class="intro__left">
            <div class="intro__subtitle">{{ introSubTitle }}</div>
            <h1 class="intro__title">
               <span class="decorated">{{ introBigTitle.split(' ')[0] }}</span>
               {{ introBigTitle.split(' ').slice(1).join(' ') }}
            </h1>
            <p class="intro__description">{{ introDescription }}</p>
            <button class="intro__button button">Darsni boshlash</button>
            <div class="intro__statistics statistics" *ngIf="introStatistic && introType !== 'course'">
               <div class="statistics__item">
                  <div class="statistics__value">
                     {{ introStatistic.students }}<span>+</span>
                  </div>
                  <div class="statistics__title">O'quvchilar</div>
               </div>
               <div class="statistics__item">
                  <div class="statistics__value">
                     {{ introStatistic.teachers }}<span>+</span>
                  </div>
                  <div class="statistics__title">O'qituvchilar</div>
               </div>
               <div class="statistics__item">
                  <div class="statistics__value">
                     {{ introStatistic.lessons }}<span>+</span>
                  </div>
                  <div class="statistics__title">Darslar</div>
               </div>
            </div>
         </div>
         <div class="intro__right">
            <picture *ngIf="introType === 'home'">
               <source media="(min-width: 992px)" srcset="/assets/images/home-page/intro/intro@desktop.webp">
               <source media="(min-width: 992px)" srcset="/assets/images/home-page/intro/intro@desktop.png">
               <source srcset="/assets/images/home-page/intro/intro@mobile.webp">
               <source srcset="/assets/images/home-page/intro/intro@mobile.png">
               <img src="/assets/images/home-page/intro/intro@desktop.png" alt="">
            </picture>
            <img *ngIf="introType === 'course'" [src]="introImgUrl" alt="Course Intro Image">
         </div>
      </div>
      <div class="intro__bottom" *ngIf="introCourseInfo?.length">
         <ul class="intro__course-details details">
            <li class="details__item" *ngFor="let info of introCourseInfo">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">{{ info }}</p>
            </li>
         </ul>
      </div>
   </div>
</section>

<div class="modal-backdrop" *ngIf="false">
   <div class="modal-content start">
      <div class="start__img"></div>
      <form class="start__form" [formGroup]="startForm">
         <h2>Kursga <span class="highlight">ro’yxatdan o’tish</span></h2>
         <label class="form-label">
            <span>Ismingiz</span>
            <input class="form-control" type="text" placeholder="Abdullajon" formControlName="name">
         </label>
         <label class="form-label form-label--select">
            <span>Ochiqdarsni tanlang</span>
            <select class="form-control" formControlName="course">
               <!--               <ng-container *ngIf="introLessons.length">-->
               <!--                  <option *ngFor="let lesson of introLessons" value="{{ lesson.name }}">{{ lesson.name }}</option>-->
               <!--               </ng-container>-->
            </select>
         </label>
         <label class="form-label form-label--phone">
            <span>Telefon raqamingiz</span>
            <input class="form-control" type="text" formControlName="phone" maxlength="9">
         </label>

         <p class="start__text">
            * Diqqat! Ma'lumotlaringizni to'g'ri kiriting
         </p>

         <button class="button" type="submit" [disabled]="startForm.invalid">Yuborish</button>
      </form>
   </div>
</div>
