.main {
   background-image: url("/assets/bg-images/bg-body.png");
   background-repeat: repeat-y;
   background-size: 100%;
}

@media only screen and  (max-width: 992px) {
   .main {
      padding-bottom: 70px;
   }
}
