.grid {
   display: grid;
}

@for $i from 1 through 6 {
   .grid-#{$i} {
      grid-template-columns: repeat($i, 1fr);
   }
}

@for $i from 1 through 10 {
   .column-gap-#{$i}0 {
      grid-column-gap: #{$i * 10}px;
   }

   .row-gap-#{$i}0 {
      grid-row-gap: #{$i * 10}px;
   }

   .gap-#{$i}0 {
      grid-gap: #{$i * 10}px;
   }

   .fw-#{$i}00 {
      font-weight: #{$i}00;
   }

   .mr-#{$i}0 {
      margin-right: #{$i * 10}px;
   }

   .mb-#{$i}0 {
      margin-bottom: #{$i * 10}px;
   }
}

hr {
   height: 1px;
   background-color: #ddd;
   border: none;
}

table {
   width: 100%;
   border: 1px solid #ddd;
   border-collapse: collapse;
}

th, td {
   border: 1px solid #BACFC6;
   padding: 14px 10px;
   font-size: 14px;
   vertical-align: top;
}

th {
   font-weight: 500;
   text-align: left;
}

.admin-form-control {
   display: block;
   width: 100%;
   height: 27px;
   padding: 10px 5px;
   border: 1px solid #dddddd;
   font-weight: 400;
   font-size: 13px;
   color: #000000;

   &::placeholder {
      color: #CFD0D0;
   }
}

.admin-button {
   height: 27px;
   padding-left: 77px;
   padding-right: 77px;
   background-color: #09A964;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 600;
   font-size: 1rem;
   color: #FFFFFF;
   outline-offset: 2px;

   &:hover {
      background-color: #098D54;
   }

   &:focus {
      background-color: #056A3F;
      outline: 1px solid rgba(60, 178, 127, 0.5);
   }

   &[disabled] {
      background-color: rgba(#09A964, 0.2);
      cursor: no-drop;
   }

   &-danger {
      background-color: red;
   }

   &-full {
      width: 100%;
   }
}

.admin-form-label {
   display: block;
   width: 100%;

   span {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 13px;
      color: #55645E;
   }
}

textarea.admin-form-control {
   padding-top: 5px;
   resize: vertical;
}
