<app-intro
   introType="course"
   introSubTitle="{{ course.courseSubtitle }}"
   introBigTitle="{{ course.courseTitle }}"
   introDescription="{{ course.courseDescription }}"
   [introCourseInfo]="course.courseDetails"
   introImgUrl="{{ host + course.coursePageImage.slice(2) }}"
></app-intro>

<section class="section what-we-learn" *ngIf="course.courseDetails.length">
   <div class="container">
      <div class="section__header">
         <div class="section__subtitle">Demak...</div>
         <h2 class="section__title">
            Bu kursda nimalar <br> <span class="highlight">o’rganamiz?</span>
         </h2>
      </div>
      <div class="section__body">
         <div class="what-we-learn__item" *ngFor="let skill of course.courseSkills">
            {{ skill }}
         </div>
      </div>
   </div>
</section>

<section class="section topics" *ngIf="topicsCount">
   <div class="container">
      <h2 class="topics__heading">Qisqacha <span class="highlight">mavzular ro’yxati</span> bilan tanishing:</h2>
      <div class="section__body topics__body">
         <div class="topics__col">
            <ul class="topics__list blue">
               <li *ngFor="let topic of course.listOfTopics.slice(0, topicsCount / 3)">{{ topic }}</li>
            </ul>
         </div>
         <div class="topics__col">
            <ul class="topics__list red">
               <li *ngFor="let topic of course.listOfTopics.slice(topicsCount / 3, 2 * topicsCount / 3)">{{ topic }}</li>
            </ul>
         </div>
         <div class="topics__col">
            <ul class="topics__list green">
               <li *ngFor="let topic of course.listOfTopics.slice(2 * topicsCount / 3)">{{ topic }}</li>
            </ul>
         </div>
      </div>
      <div class="topics__text">Va ko'plab yana katta kichik mavzular</div>
   </div>
</section>

<section class="section projects" *ngIf="course.courseProjectsList.length">
   <div class="container">
      <div class="projects__left">
         <div class="section__header">
            <div class="section__subtitle">Loyihalar</div>
            <h2 class="section__title">
               Kursda qanday loyihalarni <span class="highlight">bajaramiz?</span>
            </h2>
         </div>
         <picture>
            <source media="(min-width: 992px)" srcset="/assets/images/course-details/course-projects@desktop.png">
            <source srcset="/assets/images/course-details/course-projects@mobile.png">
            <img src="/assets/images/course-details/course-projects@mobile.png" alt="">
         </picture>
      </div>
      <div class="projects__right">
         <ul class="details">
            <li class="details__item" *ngFor="let project of course.courseProjectsList">
               <div class="details__icon">
                  <img src="/assets/icons/checked.svg" alt="Checked icon">
               </div>
               <p class="details__text">{{ project }}</p>
            </li>
         </ul>
      </div>
   </div>
</section>

<section class="section course-feedbacks">
   <div class="container">
      <div class="section__header">
         <h2 class="section__title">
            <span class="highlight">Kursimiz</span> haqida izohlar
         </h2>
      </div>
      <app-carousel
         [comments]="course.comments"
      ></app-carousel>
   </div>
</section>

<section class="section course-for">
   <div class="container">
      <div class="course-for__left">
         <picture>
            <source media="(min-width: 992px)" srcset="/assets/images/course-details/course-for@desktop.png">
            <source media="(min-width: 992px)" srcset="/assets/images/course-details/course-for@desktop.webp">
            <source srcset="/assets/images/course-details/course-for@mobile.webp">
            <source srcset="/assets/images/course-details/course-for@mobile.png">
            <img src="/assets/images/course-details/course-for@mobile.png" alt="">
         </picture>
      </div>
      <div class="course-for__right">
         <div class="section__header">
            <div class="section__subtitle">Sizga ilindik!</div>
            <h2 class="section__title">
               <span class="highlight">Kursimiz </span> kimlar uchun?
            </h2>
         </div>
         <div class="section__body">
            <ul class="details">
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">O’rganishga ishtiyoq va o’rganish uchun vaqti borlar uchun</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Eng kamida bir kunda 4-5 soat o'rganishga sarflay olishingiz kerak</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Kompyuter va interneti borlar uchun</p>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>

<section class="section course-enroll">
   <div class="container">
      <div class="section__header center">
         <div class="section__subtitle">Shoshiling! joylar chegaralangan</div>
         <h2 class="section__title">
            <span class="highlight">Kursga</span> ro’yxatdan o’tish
         </h2>
      </div>
      <div class="section__body">
         <app-enroll-form [courses]="[course]"></app-enroll-form>
      </div>
   </div>
</section>

<section class="section why-teach">
   <div class="container">
      <div class="section__header center">
         <div class="section__subtitle">O’ylab ko’ridingizmi?</div>
         <h2 class="section__title">Nega aynan bu <span class="highlight">kursda o’qishim kerak?</span></h2>
      </div>
      <div class="section__body why-teach__cards">
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/1.svg" alt="">
            </div>
            <div class="why-teach__text">Natijalar</div>
         </div>
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/2.svg" alt="">
            </div>
            <div class="why-teach__text">Izohlar</div>
         </div>
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/3.svg" alt="">
            </div>
            <div class="why-teach__text">Xamyonbop narx</div>
         </div>
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/4.svg" alt="">
            </div>
            <div class="why-teach__text">Xalqaro ta'lim</div>
         </div>
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/5.svg" alt="">
            </div>
            <div class="why-teach__text">Amaliy loyihalar</div>
         </div>
         <div class="why-teach__card">
            <div class="why-teach__icon">
               <img src="/assets/images/course-details/why-teach/6.svg" alt="">
            </div>
            <div class="why-teach__text">Middle dasturchilar</div>
         </div>
      </div>
   </div>
</section>

<section class="section faq" *ngIf="faqList.length">
   <div class="container">
      <div class="faq__left">
         <div class="section__header">
            <h2 class="section__title">
               Ko’p beriladigan <span class="highlight">savollar</span>
            </h2>
         </div>
         <picture>
            <source media="(min-width: 992px)" srcset="/assets/images/course-details/faq@desktop.webp">
            <source media="(min-width: 992px)" srcset="/assets/images/course-details/faq@desktop.png">
            <source srcset="/assets/images/course-details/faq@mobile.webp">
            <source srcset="/assets/images/course-details/faq@mobile.png">
            <img src="/assets/images/course-details/faq@mobile.png" alt="">
         </picture>
      </div>
      <div class="faq__right">
         <ul class="faq__list">
            <li class="faq__item" [class.faq__item--open]="item.open" *ngFor="let item of faqList">
               <div class="faq__question" (click)="toggleFaq(item)">
                  <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" clip-rule="evenodd"
                           d="M9.5303 0.969668C9.8232 1.26256 9.8232 1.73744 9.5303 2.0303L5.5303 6.0303C5.2374 6.3232 4.7626 6.3232 4.4697 6.0303L0.469668 2.0303C0.176777 1.73744 0.176777 1.26256 0.469668 0.969668C0.762558 0.676777 1.23744 0.676777 1.53033 0.969668L5 4.4393L8.4697 0.969668C8.7626 0.676777 9.2374 0.676777 9.5303 0.969668Z"
                           fill="black"/>
                  </svg>
                  <h3>{{ item.question }}</h3>
               </div>
               <div class="faq__wrapper">
                  <p class="faq__answer">
                     {{ item.answer }}
                  </p>
               </div>
            </li>
         </ul>
      </div>
   </div>
</section>
