.toaster {
   position: fixed;
   top: 16px;
   right: 16px;
   z-index: 6;
   width: 350px;
   padding: 24px 16px;
   border-radius: 4px;
   color: #FFFFFF;

   &-success {
      background-color: #09A964;
   }

   &-error {
      background-color: #FE7062;
   }
}
