<form class="enroll-form" [formGroup]="enrollForm" (ngSubmit)="enrollCourse()">
   <label class="form-label">
      <span>Ismingiz</span>
      <input class="form-control" type="text" placeholder="Abdullajon" maxlength="30" formControlName="name">
   </label>
   <label class="form-label">
      <span>Telefon raqam yoki telegram</span>
      <input class="form-control" type="text" placeholder="+998901234567 yoki @abdullajon" maxlength="30" formControlName="phone">
   </label>
   <label class="form-label form-label--select">
      <span>Kursni tanlang</span>
      <select class="form-control" formControlName="course">
         <ng-container *ngIf="courses.length">
            <option *ngFor="let course of courses" value="{{ course.courseName }}">{{ course.courseName }}</option>
         </ng-container>
      </select>
   </label>
   <div class="enroll-form__send">
      <button class="button" type="submit" [disabled]="enrollForm.invalid || pending">Yozilish</button>
   </div>
</form>

<app-success-modal *ngIf="successModalOpen" (onCloseSuccessModal)="successModalOpen = false"></app-success-modal>
