<form class="enroll-form" [formGroup]="enrollForm" (ngSubmit)="enrollCourse()">
   <label class="form-label">
      <span>Ismingiz</span>
      <input class="form-control" type="text" placeholder="Abdullajon" formControlName="name">
   </label>
   <label class="form-label form-label--phone">
      <span>Telefon raqamingiz</span>
      <input class="form-control" type="text" formControlName="phone" maxlength="9">
   </label>
   <label class="form-label form-label--select">
      <span>Ochiqdarsni tanlang</span>
      <select class="form-control" formControlName="course">
         <ng-container *ngIf="introLessons.length">
            <option *ngFor="let lesson of introLessons" value="{{ lesson.name }}">{{ lesson.name }}</option>
         </ng-container>
      </select>
   </label>
   <div class="enroll-form__send">
      <button class="button" type="submit" [disabled]="enrollForm.invalid || pending">Yozilish</button>
   </div>
</form>

<app-success-modal *ngIf="successModalOpen" (onCloseSuccessModal)="successModalOpen = false"></app-success-modal>
