<div class="login">
   <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <label class="admin-form-label">
         <span>Email</span>
         <input class="admin-form-control" type="email" formControlName="email">
      </label>
      <label class="admin-form-label">
         <span>Parol</span>
         <input class="admin-form-control" type="email" formControlName="password">
      </label>
      <button class="admin-button" [disabled]="loginForm.invalid || pending">Kirish</button>
   </form>
</div>
