.login {
   height: 100vh;
   overflow: auto;
}

.login__form {
   margin: 100px auto;
   width: 500px;
   padding: 20px;
   background-color: #ddd;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.admin-form-label {
   margin-bottom: 20px;
}

.admin-button {
   width: 100%;
}
