<section class="section students-projects">
   <div class="container">
      <div class="section__header section__header--with-text">
         <div>
            <div class="section__subtitle">Loyihalar</div>
            <h2 class="section__title"><span class="highlight decorated">O’quvchilar</span> loyihalari</h2>
         </div>
         <div>
            Bizning o’quvchilarimiz bajargan real loyihalar bilan tanishib chiqing!
         </div>
      </div>

      <div class="students-projects__cards cards">
         <a class="card" target="_blank" href="{{ project.projectLink }}" *ngFor="let project of studentsProjects">
            <div class="card__img">
               <img src="{{ host + project.projectImage.slice(2) }}" alt="image">
            </div>
            <div class="card__body">
               <div class="card__avatar">
                  <img src="{{ host + project.studentImage.slice(2) }}" alt="">
               </div>
               <div class="card__info">
                  <h3>{{ project.name }}</h3>
                  <p>{{ project.group }}</p>
               </div>
            </div>
         </a>
      </div>
   </div>
</section>
