<div class="wrapper">
   <h4 class="fw-500 mb-10">Vazifalar</h4>
   <div class="registrations">
      <div class="registrations__inner">
         <div class="registrations__col">
            <div class="registrations__status">
               Rejalashtirilgan
            </div>
            <div class="registrations__cards">
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Bugungi
            </div>
            <div class="registrations__cards">
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Qayta ko'rish
            </div>
            <div class="registrations__cards">
               <div class="registrations__card">
                  <div class="d-flex mb-7">
                     <div class="d-flex">
                        <div class="secondary mr-5">Murojaat raqami:</div>
                        <div>80192</div>
                     </div>
                     <div>08.12.2022 13:44</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Ismi:</div>
                     <div>Abdullayev Alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kontakti:</div>
                     <div>@alijon</div>
                  </div>
                  <div class="d-flex mb-7">
                     <div class="secondary mr-5">Kurs:</div>
                     <div>Android</div>
                  </div>
                  <div class="task-text mb-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis deleniti
                     distinctio, dolore dolorum earum enim esse explicabo fuga fugit laboriosam molestias quas quisquam
                     reiciendis tenetur veniam vero!
                  </div>
                  <div class="d-flex">
                     <div class="secondary mr-5">Statusni o'zgartirish:</div>
                     <select>
                        <option>Saralanmagan</option>
                        <option>Qayta aloqa</option>
                     </select>
                  </div>
                  <div class="actions">
                     <div class="actions__item" title="O'chirish">
                        <svg class="cursor-pointer" width="13" height="15"
                             viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M14 20H4C2.89543 20 2 19.1046 2 18V5H0V3H4V2C4 0.89543 4.89543 0 6 0H12C13.1046 0 14 0.89543 14 2V3H18V5H16V18C16 19.1046 15.1046 20 14 20ZM4 5V18H14V5H4ZM6 2V3H12V2H6ZM12 16H10V7H12V16ZM8 16H6V7H8V16Z"
                              fill="#828882"/>
                        </svg>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Bajarilganlar
            </div>
            <div class="registrations__cards">
            </div>
         </div>
      </div>
   </div>
</div>
