<section class="section contact-us">
   <div class="container">
      <div class="contact-us__left">
         <div class="section__subtitle">Aloqa</div>
         <h2 class="section__title"><span class="highlight decorated">Biz </span>bilan aloqa</h2>
         <p>
            Assalomu alaykum biz "Fulfil Education" online o'quv markazimiz. Biz qariyb <strong>3 yildan buyon</strong> dasturlashning
            <strong>6
            ta yoʻnalishi</strong> boʻyicha <strong>onlayn</strong> dars berib kelamiz. <strong>Bu yoʻnalishlar:</strong> Frontend, Python, backend, Python, Sun'iy
            intellekt, NodeJS, backend, Android, Flutter. Siz ham dasturlashni o'zingizga qulayliklar bilan online
            formatda olib bormoqchi bo'lsangiz quyidagi formani to'ldiring!
         </p>
      </div>
      <div class="contact-us__right">
         <form class="contact-us__form" [formGroup]="contactForm" (ngSubmit)="sendContact()">
            <h3>Xabaringizni <span class="highlight">qoldiring</span></h3>
            <label class="form-label">
               <span>Ism</span>
               <input class="form-control" type="text" placeholder="Abdullajon" maxlength="30" formControlName="name">
            </label>
            <label class="form-label">
               <span>Telefon raqamingiz</span>
               <input class="form-control" type="text" [prefix]="'+998 '"
                      mask="00-000-00-00"
                      formControlName="contact">
            </label>
            <label class="form-label">
               <span>Xabar</span>
               <textarea class="form-control" placeholder="Xabaringizni kiriting" maxlength="200"
                         formControlName="message"></textarea>
            </label>
            <button class="button" type="submit" [disabled]="contactForm.invalid || pending">Yuborish</button>
         </form>
      </div>
   </div>
</section>

<app-success-modal *ngIf="successModalOpen" (onCloseSuccessModal)="successModalOpen = false"></app-success-modal>
