<section class="section contact-us">
   <div class="container">
      <div class="contact-us__left">
         <div class="section__subtitle">Aloqa</div>
         <h2 class="section__title"><span class="highlight decorated">Biz </span>bilan aloqa</h2>
         <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book
         </p>
      </div>
      <div class="contact-us__right">
         <form class="contact-us__form" [formGroup]="contactForm" (ngSubmit)="sendContact()">
            <h3>Xabaringizni <span class="highlight">qoldiring</span></h3>
            <label class="form-label">
               <span>Ism</span>
               <input class="form-control" type="text" placeholder="Abdulla" formControlName="name">
            </label>
            <label class="form-label">
               <span>Telefon raqamingiz</span>
               <input class="form-control" type="text" maxlength="15" formControlName="phone">
            </label>
            <label class="form-label">
               <span>Xabar</span>
               <textarea class="form-control" placeholder="Xabaringizni kiriting" formControlName="message"></textarea>
            </label>
            <button class="button" type="submit" [disabled]="contactForm.invalid || pending">Yuborish</button>
         </form>
      </div>
   </div>
</section>

<app-success-modal *ngIf="successModalOpen" (onCloseSuccessModal)="successModalOpen = false"></app-success-modal>
