.cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}

.card {
   padding: 24px;
   background-color: #FFFFFF;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card__img img {
   border-radius: 12px;
}

.teacher {
   display: flex;
   align-items: center;
   padding-top: 12px;
}

.teacher__avatar {
   width: 50px;
   margin-right: 12px;
   flex-shrink: 0;

   img {
      border-radius: 50%;
   }
}

.teacher__info {
   div {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 0.875rem;
      color: #55645E;
   }

   h3 {
      font-weight: 500;
      font-size: 1rem;
   }
}

.card__body {
   padding-top: 1.125rem;

   p {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.2;
   }
}

.card__footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 18px;

   div:first-child {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #C3C8C6;

      svg {
         margin-right: 12px;
      }
   }

   div:last-child {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #3CB27F;
   }
}

@media only screen and (max-width: 992px) {
   .cards {
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr;
   }

   .card {
      padding: 18px;
   }

   .teacher__avatar {
      width: 45px;
   }

   .card__body p {
      font-size: 1rem;
   }

   .card__footer div:first-child {
      font-size: 0.875rem;

      svg {
         margin-right: 8px;
      }
   }

   .card__footer div:last-child {
      font-size: 0.875rem;
   }
}

@media only screen and (max-width: 578px) {
   .cards {
      grid-template-columns: 1fr;
   }

   .card__img img {
      width: 100%;
   }
}
