.cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
}

.card {
   padding: 24px;
   background-color: #FFFFFF;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

.card__img {
   position: relative;
   aspect-ratio: 1.36;
   border-radius: 12px;
}

.card__img img {
   border-radius: 12px;
}

.card__player {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   button {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#3CB27F, 0.9);
      border: none;
      cursor: pointer;
      border-radius: 50%;
   }
}

.teacher {
   display: flex;
   align-items: center;
   padding-top: 12px;
}

.teacher__avatar {
   width: 50px;
   aspect-ratio: 1;
   border-radius: 50%;
   margin-right: 12px;
   flex-shrink: 0;

   img {
      border-radius: 50%;
   }
}

.teacher__info {
   padding-top: 5px;

   div {
      font-weight: 400;
      font-size: 0.875rem;
      color: #55645E;
   }

   h3 {
      font-weight: 500;
      font-size: 1rem;
   }
}

.card__body {
   padding-top: 1.125rem;

   p {
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 1.2;
   }
}

.card__footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 18px;

   div:first-child {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #C3C8C6;

      svg {
         margin-right: 12px;
      }
   }

   div:last-child {
      font-weight: 400;
      font-size: 1rem;
      line-height: 140%;
      color: #3CB27F;
   }
}

.modal-content {
   width: 860px;
   padding: 0;
   margin: 50px auto;
   text-align: left;
}

.modal-body {
   padding: 0 50px 50px;
}

.video {
   border-radius: 4px;
   overflow: hidden;
}

.info {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 20px;

   .teacher {
      padding-top: 0;
   }
}

.duration__label {
   display: flex;
   align-items: center;

   svg {
      margin-right: 10px;
   }

   span {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #C3C8C6;
   }
}

.duration__value {
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
}

.title {
   padding-top: 10px;
   font-weight: 500;
   font-size: 24px;
   line-height: 140%;
}

.topics {
   padding-top: 5px;
}


.topics__title {
   font-weight: 400;
   font-size: 18px;
   line-height: 140%;
   color: #55645E;
}

.topics__ol {
   padding: 0;
   text-decoration: none;
   max-height: 500px;
   overflow: auto;
   -ms-overflow-style: none;
}

.topics__li {
   display: flex;
   align-items: flex-start;
   font-size: 14px;
   margin-bottom: 10px;

   div {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 10px;
      background-color: #E9FFF5;
      border-radius: 4px;
   }

   p {
      margin-bottom: 0;
   }
}

@media only screen and (max-width: 992px) {
   .cards {
      grid-gap: 12px;
      grid-template-columns: 1fr 1fr;
   }

   .card {
      padding: 18px;
   }

   .teacher__avatar {
      width: 45px;
   }

   .card__body p {
      font-size: 1rem;
   }

   .card__footer div:first-child {
      font-size: 0.875rem;

      svg {
         margin-right: 8px;
      }
   }

   .card__footer div:last-child {
      font-size: 0.875rem;
   }

   .modal-content {
      padding: 0;
   }

   .modal-body {
      padding: 10px 20px 20px;
   }

   .info {
      padding-top: 10px;
   }

   .duration__label {
      span {
         font-size: 12px;
      }
   }

   .duration__value {
      font-size: 14px;
   }

   .title {
      font-size: 18px;
   }

   .topics__title {
      font-size: 14px;
   }

   .topics__li {
      font-size: 12px;

      div {
         width: 24px;
         height: 24px;
         margin-right: 5px;
      }
   }
}

@media only screen and (max-width: 578px) {
   .cards {
      grid-template-columns: 1fr;
   }

   .card__img img {
      width: 100%;
   }
}

@media only screen and (max-width: 500px) {
   .duration {
      width: 100%;
      padding-top: 5px;

      svg {
         display: none;
      }
   }
}
