<section class="section students-projects">
   <div class="container">
      <div class="section__header section__header--with-text">
         <div>
            <div class="section__subtitle">O'quvchilar</div>
            <h2 class="section__title"><span class="highlight decorated">Ishga kirgan</span> o’quvchilar</h2>
         </div>
         <div>
            Bizning ishga kirgan qahramonlarimiz ro’yxati
         </div>
      </div>
      <div class="students-projects__cards cards">
         <div class="card" *ngFor="let item of employedStudentsList">
            <div class="card__header">
               <div class="card__avatar skeleton">
                  <img src="{{ host + item.image.slice(2) }}" alt="{{ item.name }} image">
               </div>

               <h3 class="card__name">
                  <span
                     class="highlight">{{ item.name.toString().split(' ')[0] }}</span><br>{{ item.name.toString().split(' ')[1] }}
               </h3>
               <div class="card__job">{{ item.profession }}</div>
               <div class="card__workplace">{{ item.workplace }}</div>
            </div>
            <div class="card__footer" (click)="item.showComment = true">
               <span>Kurs haqida fikri</span>
               <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M0.219667 0.219702C0.512557 -0.0731983 0.987437 -0.0731984 1.2803 0.219702L5.2803 4.2197C5.5732 4.5126 5.5732 4.9874 5.2803 5.2803L1.2803 9.28033C0.987437 9.57322 0.512558 9.57322 0.219667 9.28033C-0.0732225 8.98744 -0.0732225 8.51256 0.219667 8.21967L3.6893 4.75L0.219667 1.2803C-0.0732229 0.987402 -0.0732229 0.512602 0.219667 0.219702Z"
                        fill=""/>
               </svg>
            </div>
            <div class="card__comment comment" *ngIf="item.showComment">
               <div class="comment__header">
                  <h4 class="comment__heading">Kurs haqida fikri</h4>
                  <div class="comment__close">
                     <svg (click)="item.showComment = false" width="10" height="10" viewBox="0 0 10 10" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.4707 8.52947L8.52953 1.47064M1.47071 1.47065L8.52953 8.52947" stroke="#193C3F"
                              stroke-width="1.5" stroke-linecap="round"/>
                     </svg>
                  </div>
               </div>
               <p class="comment__text">{{ item.comment }}</p>
            </div>
         </div>
      </div>
      <app-paginator [total]="10"></app-paginator>
   </div>
</section>
