<section class="section mentors">
   <div class="container">
      <div class="section__header section__header--with-text">
         <div>
            <div class="section__subtitle">Ustozlar</div>
            <h2 class="section__title"><span class="highlight decorated">Bizning</span> ustozlar</h2>
         </div>
         <div>
            Bizning malakali ustozlarimiz bilan tanishib chiqing!
         </div>
      </div>
      <div class="mentor" [class.revert]="i % 2 !== 0" *ngFor="let mentor of mentors; let i = index">
         <div class="mentor__img skeleton">
            <img src="{{ host + mentor.image.slice(2) }}" alt="{{ mentor.name }} image">
         </div>
         <div class="mentor__info">
            <h3 class="mentor__name"><span class="highlight">{{ mentor.name.split(' ')[0] }}</span> {{ mentor.name.split(' ')[1] }}</h3>

            <div class="mentor__main">
               <div>{{ mentor.position }}</div>
               <div>{{ mentor.workplace }}</div>
            </div>

            <ul class="mentor__history">
               <li class="details__item" *ngFor="let info of mentor.information">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">{{ info }}</p>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
