<section class="section mentors">
   <div class="container">
      <div class="section__header section__header--with-text">
         <div>
            <div class="section__subtitle">Ustozlar</div>
            <h2 class="section__title"><span class="highlight decorated">Bizning</span> ustozlar</h2>
         </div>
         <div>
            Bizning malakali ustozlarimiz bilan tanishib chiqing!
         </div>
      </div>
      <div class="mentor">
         <div class="mentor__img">
            <img src="https://i.pravatar.cc/585?img=59" alt="">
         </div>
         <div class="mentor__info">
            <h3 class="mentor__name"><span class="highlight">Shaxzod</span> Ilhomov</h3>

            <div class="mentor__main">
               <div>Software senior developer</div>
               <div>Fulfil educationda ( Sentyabr 2020 - Now)</div>
            </div>

            <ul class="mentor__history">
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Tajribasi: 7 yil</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Xalqaro tajriba: 4 yil</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Malayziyada Limkokwing University of Creative Technology
                     unversitetini IT yo'nalishini bitirgan
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Java Kotlin dasturlash tillari xamda Andriod studioda mukammal
                     bilimga ega
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Hozirda Buyuk Britaniyaning “Infinity group” kompaniyasida faoliyat
                     ko'rsatmoqda
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Fulfil educationda Android dasturlash ustozi</p>
               </li>
            </ul>
         </div>
      </div>
      <div class="mentor">
         <div class="mentor__info">
            <h3 class="mentor__name"><span class="highlight">Shaxzod</span> Ilhomov</h3>

            <div class="mentor__main">
               <div>Software senior developer</div>
               <div>Fulfil educationda ( Sentyabr 2020 - Now)</div>
            </div>

            <ul class="mentor__history">
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Tajribasi: 7 yil</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Xalqaro tajriba: 4 yil</p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Malayziyada Limkokwing University of Creative Technology
                     unversitetini IT yo'nalishini bitirgan
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Java Kotlin dasturlash tillari xamda Andriod studioda mukammal
                     bilimga ega
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Hozirda Buyuk Britaniyaning “Infinity group” kompaniyasida faoliyat
                     ko'rsatmoqda
                  </p>
               </li>
               <li class="details__item">
                  <div class="details__icon">
                     <img src="/assets/icons/checked.svg" alt="Checked icon">
                  </div>
                  <p class="details__text">Fulfil educationda Android dasturlash ustozi</p>
               </li>
            </ul>
         </div>
         <div class="mentor__img">
            <img src="https://i.pravatar.cc/585?img=60" alt="">
         </div>
      </div>
   </div>
</section>
