.mentor {
   display: grid;
   align-items: center;
   grid-column-gap: 100px;
   margin-bottom: 60px;
   background-image: url('/assets/bg-images/bg-blur.png');
   background-repeat: no-repeat;
   background-position: center top;

   &:nth-child(odd) {
      grid-template-columns: 1fr 1.2fr;
   }

   &:nth-child(even) {
      grid-template-columns: 1.2fr 1fr;
   }

   &.revert .mentor__info {
      order: -1;
   }
}

.mentor__img {
   aspect-ratio: 1;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;

   img {
      width: 100%;
      object-fit: contain;
   }
}

.mentor__name {
   margin-bottom: 24px;
   font-weight: 600;
   font-size: 2.25rem;
}

.mentor__main {
   div:first-child {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.25rem;
   }

   div:last-child {
      font-weight: 400;
      font-size: 1.125rem;
      color: #55645E;
   }
}

.mentor__history {
   padding-top: 48px;

   .details__icon {
      margin-right: 1rem;
   }

   .details__text {
      font-size: 1rem;
   }
}

@media only screen and (max-width: 992px) {
   .mentor {
      grid-column-gap: 60px;
      align-items: start;
   }
}

@media only screen and (max-width: 768px) {
   .mentor {
      margin-bottom: 30px;

      &:nth-child(odd), &:nth-child(even) {
         grid-template-columns: 1fr;
      }
   }

   .mentor__img {
      width: 60%;
      justify-self: center;
      order: -1;
      margin-bottom: 24px;
      text-align: center;
   }

   .mentor__name {
      margin-bottom: 18px;
      text-align: center;
      font-size: 1.7rem;
   }

   .mentor__main {
      text-align: center;
   }

   .mentor__history {
      padding-top: 24px;
   }
}

@media only screen and (max-width: 578px) {
   .mentor__img {
      width: 100%;
   }
}
