<h3 class="fw-500 mb-30">Parolni almashtirish</h3>
<hr class="mb-20">
<form class="grid grid-4 column-gap-20" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
   <label class="form-label">
      <span>Eski parolni kiriting</span>
      <input class="form-control" type="password" placeholder="********"
             formControlName="currentPassword">
   </label>
   <label class="form-label">
      <span>Yangi parolni kiriting</span>
      <input class="form-control" type="password" placeholder="********"
             formControlName="newPassword">
   </label>
   <label class="form-label">
      <span>Yangi parolni takrorlang</span>
      <input class="form-control" type="password" placeholder="********"
             formControlName="repeatPassword">
   </label>
   <div style="padding-top: 32.4px">
      <button class="button button-full" [disabled]="passwordForm.invalid">Parolni yangilash</button>
   </div>
</form>
