.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.registrations {
   flex-grow: 1;
   overflow-x: scroll;

   &::-webkit-scrollbar {
      height: 6px;
   }

   &::-webkit-scrollbar-track {
      background-color: #EAEAEA;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #7d7f8e;
      border-radius: 3px;
   }
}

.registrations__inner {
   display: flex;
   min-width: 2240px;
   height: 100%;
   align-items: stretch;
}

.registrations__col {
   flex-shrink: 0;
   width: calc(100% / 7);
   height: 100%;

   &:not(:last-child) {
      border-right: 1px dashed #ddd;
   }
}

.registrations__status {
   text-align: center;
   padding-bottom: 10px;
   background-color: #fff;
   border-bottom: 1px solid #dddddd;
   font-size: 14px;
}

.registrations__cards {
   height: calc(100% - 25px);
   padding: 10px;
   flex-grow: 1;
   overflow: auto;

   &::-webkit-scrollbar {
      width: 6px;
   }

   &::-webkit-scrollbar-track {
      background-color: #EAEAEA;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      background-color: #7d7f8e;
      border-radius: 3px;
   }
}

.registrations__card {
   position: relative;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px dashed #dddddd;
   border-radius: 4px;
   font-size: 12px;

   select {
      padding: 5px;
      border: 1px solid #ddd;
   }

   &:hover .actions {
      display: flex;
   }
}

.d-flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.secondary {
   color: #7d7f8e;
}

.mr-5 {
   margin-right: 5px;
}

.mb-7 {
   margin-bottom: 7px;
}

.actions {
   display: none;
   position: absolute;
   top: 5px;
   right: 5px;
}

.actions__item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   cursor: pointer;
   background-color: #EAEAEA;

   svg {
      width: 50%;
   }
}
