.wrapper {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.registrations {
   flex-grow: 1;
   overflow-x: scroll;

   &::-webkit-scrollbar {
      opacity: 1;
      height: 6px;
   }

   &::-webkit-scrollbar-track {
      background-color: transparent;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #7d7f8e;
      border-radius: 3px;
   }
}

.registrations__inner {
   display: flex;
   min-width: 1920px;
   height: 100%;
   align-items: stretch;
}

.registrations__col {
   flex-shrink: 0;
   width: calc(100% / 6);
   height: 100%;

   &:not(:last-child) {
      border-right: 1px dashed #ddd;
   }
}

.registrations__status {
   text-align: center;
   padding-bottom: 10px;
   background-color: #fff;
   border-bottom: 1px solid #dddddd;
   font-size: 14px;
}

.registrations__cards {
   height: calc(100% - 25px);
   padding: 10px 10px 0;
   flex-grow: 1;
   overflow: auto;

   &::-webkit-scrollbar {
      width: 6px;
   }

   &::-webkit-scrollbar-track {
      background-color: transparent;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      background-color: #7d7f8e;
      border-radius: 3px;
   }
}

.registrations__card {
   position: relative;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px dashed #dddddd;
   border-radius: 4px;
   font-size: 12px;

   select {
      border: 1px solid #ddd;
      padding: 3px;
   }

   &:hover .actions {
      display: flex;
   }
}

.d-flex {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.justify-end {
   justify-content: end;
}

.secondary {
   color: #7d7f8e;
}

.mr-5 {
   margin-right: 5px;
}

.mb-7 {
   margin-bottom: 7px;
}

.actions {
   display: none;
   position: absolute;
   top: 5px;
   right: 5px;
}

.actions__item {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   cursor: pointer;
   background-color: #EAEAEA;

   svg {
      width: 50%;
   }
}

.task-backdrop {
   position: fixed;
   z-index: 3;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.1);
}

.task-content {
   width: 450px;
   margin: 50px auto;
   padding: 15px;
   background-color: #fff;
   border-radius: 4px;

   h4 {
      font-size: 14px;
      font-weight: 400;
   }

   hr {
      margin-bottom: 15px;
   }

   textarea {
      min-height: 100px;
   }
}
