<div class="wrapper">
   <h3 class="fw-500 mb-30">Darslarda qatnashish uchun ro'yxatgan o'tganlar</h3>
   <div class="registrations">
      <div class="registrations__inner grid grid-7">
         <div class="registrations__col">
            <div class="registrations__status">
               Saralanmagan
            </div>
            <div class="registrations__cards">
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
               <div class="registrations__card"></div>
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Qayta aloqa
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Guruhga qo’shildi
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Umuman qatnashmaydiganlar
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               2-tarif
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               Probniyga qatnashmaganlar
            </div>
         </div>
         <div class="registrations__col">
            <div class="registrations__status">
               To’lov qilganlar
            </div>
         </div>
      </div>
   </div>
</div>
