<footer class="footer">
   <div class="footer__enroll" *ngIf="introLessons.length">
      <div class="container">
         <h2>Bizda ochiq dars...</h2>
         <p>Har bir kurs ochilishdan oldin bepul ochiq darslarimiz bo’lib o’tadi, hoziroq bepulda darsga ro’yxatdan
            o’ting va xulosa chiqaring</p>
         <app-enroll-form
            [introLessons]="introLessons"
         ></app-enroll-form>
      </div>
   </div>

   <div class="footer__info info">
      <div class="container">
         <div class="info__col">
            <img class="info__logo" src="/assets/logos/footer-logo.svg" alt="">
            <div class="info__contact contact">
               <div class="contact__item">
                  <div class="contact__label">Aloqa:</div>
                  <a class="contact__phone" href="tel: +998883300666">
                     <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M1.75035 12.2559C5.10405 19.5601 11.0716 25.3675 18.4907 28.5158L19.68 29.0457C22.4011 30.2581 25.5995 29.337 27.2591 26.8634L28.8132 24.5469C29.3186 23.7937 29.1648 22.7793 28.4589 22.2098L23.188 17.9577C22.414 17.3331 21.2756 17.4787 20.6833 18.2777L19.0528 20.478C14.8689 18.4141 11.472 15.0173 9.40818 10.8334L11.6083 9.20287C12.4075 8.61063 12.5529 7.47222 11.9284 6.69806L7.67617 1.42716C7.10681 0.721421 6.09268 0.567473 5.33953 1.07247L3.00706 2.63645C0.517968 4.30542 -0.397947 7.53041 0.84233 10.2586L1.74899 12.2529L1.75035 12.2559Z"
                           fill="#3CB27F"/>
                     </svg>
                     <span>+998 88 330 06 66</span>
                  </a>
               </div>
               <div class="contact__item">
                  <div class="contact__label">Ro’yxatdan o’tgan manzil:</div>
                  <div class="contact__text">Toshkent shahri, Yunusobot tumani Ahmad
                     Donish 11-mavze, 60
                  </div>
               </div>
               <div class="contact__item">
                  <div class="contact__label">Shikoyatlar uchun:</div>
                  <a class="contact__text" href="tel: +998993421009">
                     +998 99 342 10 09
                  </a>
               </div>
            </div>
         </div>
         <div class="info__col">
            <h3>Kurslar</h3>
            <ul class="info__list" *ngIf="courses.length">
               <li class="info__item" *ngFor="let course of courses">
                  <a routerLink="/course/{{ course.id }}">{{ course.courseName }}</a>
               </li>
            </ul>
         </div>
         <div class="info__col">
            <h3>Biz haqimizda </h3>
            <ul class="info__list">
               <li class="info__item">
                  <a routerLink="/about/mentors">Ustozlar</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/students-projects">O’quvchi loyihalari</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/employed-students">Ishga kirgan o’quvchilar</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/intro-lessons">Bepul ochiq darslar</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/help-to-work">Ishga yordam</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/what-is-fulfil">Fulfil</a>
               </li>
               <li class="info__item">
                  <a routerLink="/about/contact">Aloqa</a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="footer__bottom">
      <div class="flex-container">
         <p>Copyright © 2022 Full fill Inc. All rights reserved.</p>
         <div>
            <p>Ijtimoiy tarmoqlar</p>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
         </div>
      </div>
   </div>
</footer>
