<section class="section what-is-fulfil">
   <div class="container">
      <div class="what-is-fulfil__item">
         <div>
            <div class="section__subtitle">Fulfil</div>
            <h2 class="section__title"><span class="highlight decorated">Fulfil</span> nima?</h2>
         </div>
         <div>
            <p>2 yildan buyon sifatli ta’lim berishga harakat qilib kelayotgan va
               ishga kirish ko’rsatkichi o’rtacha guruhlarda 33%-62.5% gacha
               tashkil qilayotgan o’quv markaz hisoblanadi.</p>
            <p>Siz bu o'quv kurslari orqali haqiqiy dasturchi bo'lgan xalqaro
               darajadagi middle va senior dasturchilardan ta'lim olasiz.
               Ustozlarimizni tajribasi 2 yildan - 7 yilgacha bo'lgan oraliqda.</p>
         </div>
      </div>
      <div class="what-is-fulfil__item">
         <h3><span class="highlight">Fulfil</span> missiyasi?</h3>
         <p>Insonlarni chegaralarsiz zamonaviy kasblarni o’rganishiga sababchi
            bo’lish</p>
      </div>
      <div class="what-is-fulfil__item">
         <h3><span class="highlight">Fulfil</span> shiori?</h3>
         <p>Xalqaro darajadagi bilim va hayotiy yangilanish biz bilan</p>
      </div>
      <div class="what-is-fulfil__item">
         <h3>Fulfil educationda <span class="highlight">bepul</span> o’qish mumkinmi?</h3>
         <p>Fulfil educationda ijtimoiy himoyaga muhtoj va nogironligi mavjud
            bo’lgan dasturlashni juda ham o’rganishni xohlovchi qatnashuvchilar
            100% bepul o’qishlari mumkin, ularning natijasiga “sababchi” bo’lsak
            shuni o’zi biz uchun yetarli</p>
      </div>
      <div class="what-is-fulfil__item">
         <h3>Fulfil educationda <span class="highlight">GRANT</span> bormi?</h3>
         <p>Vaqti vaqti bilan grantlar berib boramiz, rasmiy kanallarimiz va ijtimoiy
            tarmoqlarimizni albatta kuzatib boring</p>
      </div>
   </div>
</section>
